<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>MyList!</title>
  <link th:href="@{/css/common.css}" rel="stylesheet">
</head>
<body>
<div class="container">

<div th:replace="header :: header">header.html</div>

<div th:replace="sidebar :: sidebar">sidebar.html</div>

<div id="content">
<h1>게시글</h1>
<a href="add">새 게시글</a>
<table id="x-board-table" border="1">
<thead>
  <tr>
    <th>번호</th>
    <th>제목</th>
    <th>작성자</th>
    <th>조회수</th>
    <th>등록일</th>
  </tr>
</thead>
<tbody>
  <tr th:each="board : ${list}">
    <td th:text="${board.no}">1</td>
    <td><a href="detail.html" th:href="@{detail(no=${board.no})}" th:text="${board.title}">제목입니다.</a></td>
    <td th:text="${board.writer.name}">홍길</td>
    <td th:text="${board.viewCount}">100</td>
    <td th:text="${board.createdDate}">2022-04-23</td>
  </tr>
</tbody> 
</table>

<div>
<a th:href="@{list(pageNo=${pageNo - 1},pageSize=${pageSize})}" th:if="${pageNo} > 1">[이전]</a>
<span th:unless="${pageNo} > 1">[이전]</span>

<span th:text="${pageNo}">1</span>

<a th:href="@{list(pageNo=${pageNo + 1},pageSize=${pageSize})}" th:if="${pageNo < totalPageSize}">[다음]</a>
<span th:unless="${pageNo < totalPageSize}">[다음]</span>

</div>
</div>

<div th:replace="footer :: footer">footer.html</div>

</div>
</body>
</html>